<html>

    <head>

        <title>my blog</title>

    </head>

    <h1>this is a heading</h1>
    <h2>sub</h2>
    <h3>subsub</h3>
    <p>this is p1</p>
    <h2>another heading</h2>
    <p>this <em>is</em> p2</p>
    <p><strong>what's up</strong>normal text</p>

    <div>
        <h1>how to make a list of items</h1>

        <ul>
            <li>first item</li>
            <li>second item</li>
        </ul>
    </div>

    <div>
        <h1>Posts listed here</h1>
        <p>
            {{posts}}
        </p>

        <p>
            {% for post in posts %}
                {{ post }}
            {% endfor %}
        </p>

    </div>

    <div>
      
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </div>
</html>
