h1 {
    color: #EEEEEF;
    background-color: #AAAAAA;
    padding: 45px 2px 30px 40px;
    margin: 0px;
}

.he {
    color: inherit ;
}


.content {
    margin-left: 0px;
    border: 2 px #DDDDDD;
    border-color: #000000
    background-color: #EEEEEE;
    width: 90%;
    position: relative;
    display: inine-block;
    hight: auto;
    padding: 12px;
    box-shadow: 2px 3px 5px 3px #999999;
    border-radius: 5px;
    resize: both;
    overflow: auto;
}

.content:hover {
    box-shadow: 2px 3px 10px 3px #999999;
}

.post {
    border-top: 1px;
    border-top-color: #AAAAAA;
    border-top-style: dashed;
    box-sizing: border-box;
    width: auto;
    max-width: 630px;
    height: auto;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

p + h2 {
    color: #aaaaaa;
    margin-top: 1px
}


h1 + .post {
    border-top: 0px;
    border-top-color = #ffffff;
}

.date{
    margin-bottom: 0;
}
